.search-container {
  display: flex;
  width: 500px;
}

.search-input {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px;
  margin-right: 5px;
  margin-left: 10px;
  width: 100%;
}

#search-button {
  background-color: #55aec9;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #3d8291;
}
