body,
html {
  font-family: "MS Sans Serif", Geneva, sans-serif;
  color: #ffffff;
  background-color: #000000;
}

.buttons a {
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  margin: 5px;
  display: inline-block;
  background-color: #c0c0c0;
  border: 1px solid #000;
}

.buttons a:hover {
  background-color: #2dbd51;
  opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MS Sans Serif", Geneva, sans-serif;
}
