.page-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.search-page-container {
  flex: 1;
  overflow-y: scroll;
  padding: 5px;
  height: 100vh;
}

.search-side-container {
  width: 150px;
}

.search-table {
  background-color: #000000;
  color: #ffffff;
}

.pagination {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.pagination-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pagination-button {
  border: 2px solid white;
  color: white;
  padding: 6px;
  margin-left: 5px;
  margin-right: 5px;
}

#pagination-button:hover {
  background-color: rgb(46, 46, 46);
}

#page-input {
  color: black;
  width: 50%;
  padding: 5px;
  margin: 12px;
}

.selected {
  background-color: rgb(46, 46, 46);
}
