.reviews-container {
  padding: 20px;
  color: #fff;
  background-color: #333;
}

.review {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #424242;
}

.review-form textarea {
  resize: none;
  height: 100px;
}

.review-form textarea,
.review-form select,
.review-form button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
}

.review-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2212%22%20height%3D%2212%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpolygon%20fill%3D%22%23333%22%20points%3D%226%2C0%206%2C9%2012%2C4.5%20%22%3E%3C/polygon%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.review-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.review-form button:hover {
  background-color: #45a049;
}

.error-message {
  color: #ff4d4d;
}

.reviews-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
