.navbar {
  background-color: #252568;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ffffff;
}

.navbar h1 {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
}

.navbar h1 a {
  color: #ffffff;
  text-decoration: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin-left: 10px;
}

.navbar ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

.navbar ul li a:hover {
  background-color: #ffffff;
  color: #000080;
}
