.card-container {
  border: solid gray;
  margin: 20px;
  width: 200px;
  height: 200px;
  position: relative;
  color: antiquewhite;
}

.card-container:hover {
  cursor: pointer;
}

#game-card-image {
  width: 100%;
  height: 100%;
  margin-left: 0%;
  align-self: center;
}

.description-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0%;
  width: 100%;
  background-color: #333333;
  text-align: center;
  overflow-y: scroll;
}

@keyframes slide-up {
  from {
    height: 0%;
  }
  to {
    height: 75%;
  }
}

.card-container:hover .description-container {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#game-title {
  padding: 2px;
  margin: 2px;
  font-size: large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
